<div class="row">
    <div class="col-2">
        <button (click)="volver()" class="btn btn-dark btn-sm"><i class="mdi mdi-arrow-left-bold"></i></button>
    </div>
</div>

<div class="row" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center" >
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
          </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <!-- column -->
    <div class="col-12">
        <div class="card">

            
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Unidades </h4>
                        <h6 class="card-subitle">Unidades registradas del usuario</h6>
                    </div>

                    <div class="col">
                        <div class="text-right">
                            <button [routerLink]="['/dashboard','usuario','unidades','nueva', idUsuario ]"
                            routerLinkActive="active" 
                            [routerLinkActiveOptions]="{ exact: true}" class="btn btn-success">
                                <i class="mdi mdi-car"></i>
                                Agregar unidad
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead> 
                            <tr>
                                <th>Marca</th>
                                <th>Año</th>
                                <th>N° Serie</th>
                                <th>Kilometraje</th>
                                <th>Ultima visita</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            <tr *ngFor="let item of unidades">
                                <td>  {{item.marca}} </td>
                                <td>  {{item.ano}} </td>
                                <td>  {{item.noserie}} </td>
                                <td>  {{item.km}} </td>
                                <td>  {{item.ultimaVisita['seconds'] * 1000 | date:'medium'}} </td>
                           
                                <td class="text-nowrap">
                                    
                                    <a data-toggle="modal" data-target="#myModal" (click)="cargarUnidad(item)" > <i class="mdi mdi-pencil text-primary"></i></a>
                                    &nbsp;
                                    <a (click)="borrarUnidad(item)" data-toggle="tooltip" data-original-title="Close"> <i class="mdi mdi-close-box text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <!-- column -->
</div>


<!-- Modal -->
  <!-- sample modal content -->
  <div  class="modal fade " tabindex="-1" id="myModal" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Unidad</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body ">
                <form class="form-horizontal" [formGroup]="unidadForm" (submit)="actualizarUnidad()">
                    <div class="row">
                        
                       <div class="col-12">
                       
                        <br>
                        <div class="form-group row">
                            <label for="exampleInputuname3" class="col-sm-3 control-label">Marca</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-car"></i></div>
                                    <input type="text" 
                                    class="form-control" 
                                    id="exampleInputuname3" 
                                    placeholder=""
                                    formControlName="marca"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputuname3" class="col-sm-3 control-label">Año</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-cup"></i></div>
                                    <input type="number" class="form-control" id="exampleInputuname3" placeholder="" 
                                    formControlName="ano"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputuname3" class="col-sm-3 control-label">Kilometraje</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-info"></i></div>
                                    <input type="number" class="form-control" id="exampleInputuname3" placeholder=""
                                    formControlName="km"
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputEmail3" class="col-sm-3 control-label">N° de serie</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="ti-bar-chart"></i></div>
                                    <input type="text" class="form-control" id="exampleInputEmail3" placeholder=""
                                    formControlName="noserie"
                                    >
                                </div>
                            </div>
                        </div>
                        
                    </div> 
                    
                    </div>
                    <div class="form-group row m-b-0">
                        <div class="col-sm-12 text-right">
                            <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Cancelar</button>
                            &nbsp;
                            <button [disabled]="unidadForm.invalid " type="submit" class="btn btn-success waves-effect waves-light">Actualizar</button>
                        </div>
                    </div>
                </form>
            </div>
         
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->