  <!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <!-- column -->
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>
                
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Celular</th>
                                <th>Correo</th>
                                <th class="text-nowrap">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of usuarios">
                                <td>{{item.nombre}}</td>
                                <td>{{item.celular}}</td>
                                <td>{{item.correo}}</td>
                                <td class="text-nowrap">
                                    <a (click)="getUnidades(item.id)" alt="default" data-toggle="modal" data-target="#responsive-modal"   data-original-title="Unidades"> <i class="mdi mdi-car text-inverse m-r-10"></i> </a>
                                    <a  data-toggle="tooltip" data-original-title="Close"> <i class="mdi mdi-account-edit text-primary"></i> </a>
                                </td>
                                
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div id="responsive-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Unidades del usuario</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Unidad</th>
                                    <th>Kilometraje</th>
                                    <th>N° Serie</th>
                                    <th>Año</th>
                                    <th>Ultima visita</th>
                                    <th class="text-nowrap">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of unidades">
                                    <td>{{item.unidad}}</td>
                                    <td>{{item.km}}</td>
                                    <td>{{item.noserie}}</td>
                                    <td>{{item.ano}}</td>
                                    <td>{{item.ultimaVisita.toDate() | date:'dd/MM/yyyy h:mm:ss a'}}</td>
                                    <td class="text-nowrap">
                                        <a  alt="default" data-toggle="modal" data-target="#"   data-original-title="Borrar">Eliminar <i class="mdi mdi-close text-danger"></i> </a>
                                    </td>
                                    
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger waves-effect waves-light">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->