
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">pendientes</h4>
                
                <div class="table-responsive">
                    <div class="col-md-3">
                        <h5 class="m-t-30 m-b-10">Mes</h5>
                        <select class="selectpicker" data-style="form-control btn-secondary">
                            <option>Enero</option>
                            <option>Febrero</option>
                            <option>Marzo</option>
                        </select>
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Celular</th>
                                <th>Correo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Aguss</td>
                                <td>871134654</td>
                                <td>owen_ups@gmail.com</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
