 <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        
                        <li class="nav-small-cap">ADMINISTRACION</li>
                        
                        <li> <a class="has-arrow waves-effect waves-dark" href="" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard <span class="label label-rouded label-themecolor pull-right">4</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a  [routerLink]="['/admin/citas']" routerLinkActive="router-link-active"><i class="mdi mdi-book-minus"></i>  Citas</a></li>
                            <li><a [routerLink]="['/admin/pendientes']" routerLinkActive="router-link-active"><i class="mdi mdi-calendar"></i>  Pendientes</a></li>
                            <li><a [routerLink]="['/admin/usuarios']" routerLinkActive="router-link-active"><i class="mdi mdi-clipboard-account"></i>  Usuarios</a></li>
                            <li><a [routerLink]="['/admin/asesores']" routerLinkActive="router-link-active"><i class="mdi mdi-account-settings-variant"></i>  Asesores</a></li>
                            </ul>
                        </li>
                        
                       
                    </ul> 
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->


        